#main_banner{
    
    background-color: #e9ecef;
    padding: 5%;
}


#main_body{
    padding: 3%;
}


#destination_card_container{
    display:inline-block;
    
}


#destination_form, .card {
    padding: 20px;
    border-radius: 30px;
    background: #cedff2;
    box-shadow: inset 16px 16px 32px #afbece,
            inset -16px -16px 32px #edffff;
}

body{
    background: #cedff2;
}


.form-group{
    padding: .5rem;
}


/* BUTTON */
#buttonAddToList {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
#buttonAddToList:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color: black;
  }



  .input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }